<td class="w-full" [ngSwitch]="type">
  <div
    class="flex flex-row gap-2 items-center"
    *ngSwitchCase="TableCellType.OPTION"
  >
    <ng-icon
      name="heroPencilSquare"
      size="20"
      [class]="TABLE_OPTION_ACTION"
      (click)="editRow$()"
    />
    <button
      type="button"
      data-drawer-target="drawer-contact"
      data-drawer-show="drawer-contact"
      aria-controls="drawer-contact"
    >
      <ng-icon name="heroTrash" size="20" [class]="TABLE_OPTION_DELETE" />
    </button>
  </div>

  <span *ngSwitchDefault>{{ tableData[0] }}</span>
</td>
