<div class="flex flex-col md:gap-6">
  <div class="flex flex-row justify-between items-center">
    <h1 [class]="ADMIN_CHILDREN_TITLE">Clientes</h1>
    <button class="btn-md" (click)="closeDrawer(true)">Agregar cliente</button>
  </div>
  <app-drawer [open]="open" (close)="closeDrawer($event)">
    <form-container
      #formClient="formContainer"
      formId="formClient"
      [autofocus]="false"
      (onSubmit)="createClient($event)"
    >
      <app-add-client
        [form]="formClient.form"
        [entity]="client"
        [readonly]="false"
        class="mb-4"
      />
      <button
        type="submit"
        class="mt-4"
        [class]="BTN_STYLE"
        [disabled]="!formClient.form?.valid"
      >
        Guardar
      </button>
    </form-container>
  </app-drawer>
  <app-table
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [loading]="loading"
    [pages]="pages"
    [tableHeaders]="tableClientHeaders"
    [tableData]="clients"
    [tableDataUnfiltered]="unfilteredClients"
    [mapKeyHeaders]="mapClientHeaders"
    (filterQuery)="filterQuery($event)"
    (onEditRow)="onEditRow($event)"
    (filterItemsPerPage)="filterItemsPerPage($event)"
    (pageChange)="pageChange($event)"
  />
</div>
