<app-table-skeleton *ngIf="loading; else loaded"></app-table-skeleton>

<ng-template #loaded>
  <div
    class="relative px-6 py-3 flex flex-col gap-6 bg-white border border-gray-200 overflow-x-auto md:rounded-lg"
  >
    <div
      class="flex items-center border-b border-gray-200 -mx-6 -my-3 py-2 px-6"
    >
      <div
        class="flex flex-row gap-2 items-center border border-slate-300 bg-slate-200/25 rounded-md ml-auto md:min-w-[350px] px-3"
      >
        <ng-icon name="heroMagnifyingGlass" size="24" color="text-slate-900" />
        <input
          type="text"
          [(ngModel)]="filter"
          placeholder="Filtrar clientes ..."
          (ngModelChange)="filterQuery$(filter)"
          class="flex-1 ml-auto bg-transparent text-slate-900 border-transparent focus:ring-0 focus:outline-none focus:border-transparent"
        />
      </div>
    </div>
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-sm text-gray-700 bg-transparent">
        <tr>
          <td
            class="font-semibold text-gray-500 py-4 border-dashed border-b border-gray-100"
            *ngFor="let header of tableHeaders"
          >
            {{ header.name }}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tableData" class="bg-transparent border-b">
          <td
            *ngFor="let header of tableHeaders; let index = index"
            class="py-4 border-b border-transparent text-slate-900"
          >
            <app-table-cell
              [json]="[
                {
                  data: data,
                  keys: mapKeyHeaders[index].keys
                }
              ]"
              [data]="data"
              (onEditRow)="onEditRow$(data)"
              [type]="header.type"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="flex flex-row items-center justify-between border-t border-gray-200 -mx-6 -my-3 py-2 px-6"
    >
      <div class="flex flex-row items-center gap-4">
        <span class="text-sm text-black"
          >Mostrando
          <span class="font-bold text-black"
            >{{ getFirstItemIndex() }}-{{ getLastItemIndex() }}</span
          >
          <span class="text-sm text-black font-bold">
            de {{ tableDataUnfiltered.length }}</span
          >
        </span>
        <select
          [(ngModel)]="itemsPerPage"
          (ngModelChange)="filterItemsPerPage$(itemsPerPage)"
          [class]="INPUT_SELECT_STYLE"
        >
          <option [value]="item" *ngFor="let item of perPages">
            {{ item.toString() }}
          </option>
        </select>
      </div>
      <ul class="inline-flex -space-x-px text-sm h-8">
        <li *ngFor="let page of pages">
          <span
            (click)="pageChange$(page)"
            class="flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-transparent border border-gray-300 focus:bg-slate-200/25"
            [class]="page === currentPage ? 'bg-blue-50 text-blue-500' : ''"
            >{{ page }}</span
          >
        </li>
      </ul>
    </div>
  </div>
</ng-template>
