<aside class="min-h-screen bg-white p-10 md:flex-shrink-0 md:w-[256px]">
  <div class="flex flex-row gap-2 items-center mb-10">
    <ng-icon name="heroShoppingBag" size="24" class="text-red-400" />
    <p
      class="text-transparent font-bold bg-clip-text bg-gradient-to-r from-red-400 to-red-500"
    >
      Telovendo.pe
    </p>
  </div>
  <ul class="flex flex-col gap-6 items-start -mx-10">
    <li *ngFor="let option of sidebar" class="px-10 relative cursor-pointer">
      <a
        [routerLink]="[option.redirectTo]"
        routerLinkActive="active"
        #rla="routerLinkActive"
        class="flex flex-row items-center py-2 gap-3"
        [class]="
          rla.isActive
            ? 'text-red-500 before:left-0 before:absolute before:min-h-full before:bg-red-500 before:w-1 before:rounded-r-md'
            : ''
        "
      >
        <ng-icon [name]="option.icon" size="24" /> {{ option.name }}</a
      >
    </li>
  </ul>
</aside>
