<div class="md:h-screen w-full flex md:flex-row">
  <app-sidebar />
  <main class="min-h-full flex-1">
    <header class="w-full bg-white shadow-sm h-[64px] md:p-6 md:max-h-[64px]">
      <div class="container mx-auto"></div>
    </header>
    <div class="2xl:container mx-auto md:py-6">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
