<div
  class="fixed top-0 right-0 z-40 h-full p-4 overflow-y-auto transition-transform bg-white md:min-w-[450px] md:max-w-[450px]"
  [class]="open ? '' : 'translate-x-full'"
>
  <div class="flex flex-col gap-4">
    <button
      type="button"
      (click)="closeDrawer()"
      class="text-gray-400 bg-transparent hover:text-red-400 rounded-lg text-sm w-8 h-8"
    >
      <ng-icon name="heroXMark" size="20"></ng-icon>
    </button>
    <form [id]="formId" [formGroup]="form!" (ngSubmit)="submitForm()" novalidate>
      <fieldset [disabled]="loadingForm">
        <ng-content></ng-content>
      </fieldset>
      <div class="absolute bottom-0">
        <ng-content select="drawerSubmit"></ng-content>
      </div>
    </form>
  </div>
</div>
<div
  class="fixed top-0 left-0 w-full min-h-screen bg-black/[.25] z-10"
  *ngIf="open"
  (click)="closeDrawer()"
></div>
