<div class="h-full items-center mx-auto drop-shadow-2xl md:max-w-4xl">
  <div class="flex flex-col h-full md:flex-row">
    <div
      class="bg-slate-200 h-[140px] rounded-t-xl md:rounded-l-xl md:max-w-[648px] md:max-h-full md:w-[52%] md:h-auto"
    >
      <img
        ngSrc="/assets/img/telovendope_media_ecomm.jpg"
        alt=""
        width="4201"
        height="6302"
        class="h-full object-cover rounded-t-xl md:rounded-l-xl"
      />
    </div>
    <div
      class="flex-1 flex flex-col gap-6 bg-white rounded-b-xl p-4 md:p-10 md:rounded-r-xl"
    >
      <div class="flex flex-col gap-0.5">
        <h1 class="text-slate-900 text-2xl font-bold">Acceso a Backoffice</h1>
        <p class="text-slate-500 font-thin text-sm">
          Tu centro de control, para tus ventas online.
        </p>
      </div>
      <form
        class="flex flex-col gap-4"
        (ngSubmit)="onSubmit()"
        [formGroup]="signInForm"
      >
        <div [class]="INPUT_FORM_GROUP_STYLE">
          <label for="email" [class]="INPUT_LABEL_STYLE"
            >Correo electrónico</label
          >
          <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            required
            [class]="INPUT_STYLE"
          />
        </div>
        <div [class]="INPUT_FORM_GROUP_STYLE">
          <label for="password" [class]="INPUT_LABEL_STYLE">Contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            formControlName="password"
            required
            [class]="INPUT_STYLE"
          />
        </div>
        <button
          type="submit"
          [class]="BTN_STYLE"
          [disabled]="!signInForm.valid"
        >
          {{ loading ? 'Ingresando' : 'Ingresar' }}

          <app-spinner [loading]="loading" />
        </button>
      </form>
      <a href="" class="text-sm text-slate-900 mt-auto ml-auto cursor-pointer"
        >Olvidaste la contraseña?</a
      >
    </div>
  </div>
</div>
