<ng-container [formGroup]="target">
  {{ target.value | json }}
  <div class="flex flex-col gap-4">
    <div [class]="INPUT_FORM_GROUP_STYLE">
      <label [class]="INPUT_LABEL_STYLE">Nombres</label>
      <input type="text" formControlName="names" [class]="INPUT_STYLE" />
    </div>
    <div [class]="INPUT_FORM_GROUP_STYLE">
      <label [class]="INPUT_LABEL_STYLE">Apellidos</label>
      <input type="text" formControlName="lastnames" [class]="INPUT_STYLE" />
    </div>
  </div>
</ng-container>
