/* tailwind utils */
@tailwind base;
@tailwind components;
@tailwind utilities;

.without-ring {
  @apply focus:ring-0 focus:ring-offset-0;
}

.btn-md {
  @apply px-4 py-2 bg-blue-500 rounded-md transition text-center text-white text-sm flex flex-row gap-2 items-center justify-center hover:bg-blue-700 disabled:opacity-75 disabled:cursor-not-allowed;
}

.btn-lg {
  @apply px-4 py-3 bg-blue-500 rounded-md transition text-center text-white flex flex-row gap-2 items-center justify-center hover:bg-blue-700 disabled:opacity-75 disabled:cursor-not-allowed;
}

.skeleton-input {
  @apply ml-auto flex flex-row items-center justify-center py-3 bg-gray-200 rounded-md animate-pulse dark:bg-gray-700 md:min-w-[350px];
}

.skeleton-col {
  @apply ml-auto flex flex-row items-center justify-center p-2 bg-gray-200 rounded-md animate-pulse dark:bg-gray-700 w-full;
}
