<div
  class="relative px-6 py-3 flex flex-col gap-6 bg-white border border-gray-200 overflow-x-auto md:rounded-lg"
>
  <div class="flex items-center border-b border-gray-200 -mx-6 -my-3 py-2 px-6">
    <div class="skeleton-input"></div>
  </div>
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-sm text-gray-700 bg-transparent">
      <tr class="w-full" *ngFor="let skeleton of skeletons">
        <td *ngFor="let skeleton of skeletons" class="py-4">
          <div class="skeleton-col"></div>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-transparent border-b"></tr>
    </tbody>
  </table>
  <div
    class="flex flex-row items-center justify-between border-t border-gray-200 -mx-6 -my-3 py-2 px-6"
  >
    <div class="min-w-[200px]">
      <div class="skeleton-col"></div>
    </div>
    <div class="min-w-[60px]">
      <div class="skeleton-col"></div>
    </div>
  </div>
</div>
